/* Wide iFrame */

/* set width of this particular iFrame element (with id of iFrameFull) to full width */
#iFrameFull {
  width: 100% !important;
  height: 100vh !important;
}

/* set element to full screen */
.fullScreen {
  width: 100% !important;
  height: 100vh !important;
}

/* set content width of this particular screen (with class of demoFullScreen) to 100%  */
.demoFullScreen .content {
  width: 100% !important;
}

/* remove the gap at the top on larger screens */
.demoFullScreen .stageContainer .content {
  margin-top: 0;
}

/* set the width of the checkContainer element so it is not also full screen */
.demoFullScreen .checkContainer {
  max-width: 66.5% !important;
}
