/* BEGIN Smart Sparrow CSS */

body {
  font-family: 'Arial', sans-serif
}

.headerContainer {
  background: #cc0000
}

@media (min-width:701px) {
  .headerContainer .defaultView:before {
    content: '';
    display: block;
    width: 145px;
    height: 37px;
    border-right: 1px solid #fff;
    margin-right: 14px;
    background: url('../assets/ncsu-logo.png') no-repeat center;
    background-size: 152px 45px
  }
}

.headerContainer .lessonTitle {
  font-style: italic;
  font-weight: 600;
  color: #fff
}

.headerContainer .lessonTitle:before {
  content: 'Environmental Monitoring in the Dairy Industry';
  display: block;
  font-style: normal
}

@media (max-width:900px) {
  .headerContainer .lessonTitle:before {
    font-size: 14px
  }
}

@media (max-width:700px) {
  .headerContainer .lessonTitle:before {
    display: none
  }
}

.theme-header-beagle__toggle,
.theme-header-profile__toggle {
  background: none
}

.theme-header-score,
.theme-header-beagle__label,
.theme-header-profile__label {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9)
}

@media (max-width:700px) {
  .theme-header-score__label {
    display: none
  }
}

.theme-header-score__icon {
  background: url('../assets/icons/icon-star.svg')
}

.theme-header-beagle__icon {
  background: url('../assets/icons/icon-apps.svg')
}

.theme-header-profile__icon {
  background: url('../assets/icons/icon-account.svg')
}

.theme-history .history-element-selected .history-element__screenName {
  color: #cc0000
}

#stage-stage .number-input input,
#stage-stage .short-text-input input {
  font-family: 'Arial', sans-serif !important
}

#stage-stage .number-input input:focus,
#stage-stage .short-text-input input:focus {
  border-color: #cc0000 !important
}

#stage-stage .number-input input:disabled,
#stage-stage .short-text-input input:disabled {
  background: #ebebe4 !important;
  cursor: not-allowed
}

#stage-stage .long-text-input textarea {
  font-family: 'Arial', sans-serif !important
}

#stage-stage .long-text-input textarea:focus {
  border-color: #cc0000 !important
}

#stage-stage .long-text-input textarea:disabled {
  background: #ebebe4 !important;
  cursor: not-allowed
}

#stage-stage .dropdown-input select,
#stage-stage .boolean-input select {
  font-family: 'Arial', sans-serif !important
}

#stage-stage .dropdown-input select:focus,
#stage-stage .boolean-input select:focus {
  border-color: #cc0000 !important
}

#stage-stage .dropdown-input select:disabled,
#stage-stage .boolean-input select:disabled {
  background: #ebebe4 !important;
  cursor: not-allowed
}

#stage-stage .slider-input .ui-slider-handle {
  background: #cc0000
}

#stage-stage .slider-input .ui-slider-handle:focus {
  box-shadow: 0 0 0 4px rgba(204, 0, 0, 0.4)
}

#stage-stage .mcq-input input:checked + label::before {
  box-shadow: inset 0 0 0 20px #cc0000
}

#stage-stage .mcq-input input:focus + label::before {
  box-shadow: inset 0 0 0 2px #cc0000, 0 0 0 4px rgba(204, 0, 0, 0.4)
}

#stage-stage .mcq-input input:checked:focus + label::before {
  box-shadow: inset 0 0 0 20px #cc0000, 0 0 0 4px rgba(204, 0, 0, 0.4)
}

#stage-stage .mcq-input input:disabled + label::before {
  background: #ebebe4 !important;
  cursor: not-allowed
}

.modal-footer button[name="OK"] {
  background-color: #cc0000 !important
}

.modal-footer button[name="OK"]:hover {
  background-color: #900 !important
}

.modal-footer button[name="OK"]:focus {
  box-shadow: 0 0 0 4px rgba(204, 0, 0, 0.3)
}

.modal-footer button[name="CANCEL"] {
  color: #cc0000 !important
}

.modal-footer button[name="CANCEL"]:hover {
  background-color: rgba(204, 0, 0, 0.1) !important
}

.modal-footer button[name="CANCEL"]:focus {
  box-shadow: 0 0 0 4px rgba(204, 0, 0, 0.3)
}

.info-icon:not(.no-restyle) {
  background-color: #cc0000 !important
}

.info-icon:not(.no-restyle).no-close .close {
  display: none
}

.background {
  background-color: #f2f2f2
}

.stageContainer .content {
  border-color: #ccc
}

.stageContainer .content span,
.stageContainer .content strong,
.stageContainer .content em {
  font-family: 'Arial', sans-serif !important
}

.checkContainer {
  border-color: #ccc
}

.checkContainer .checkBtn,
.checkContainer .closeFeedbackBtn {
  background: #cc0000 !important
}

.checkContainer .checkBtn:hover,
.checkContainer .closeFeedbackBtn:hover,
.checkContainer .checkBtn:focus,
.checkContainer .closeFeedbackBtn:focus,
.checkContainer .checkBtn:active,
.checkContainer .closeFeedbackBtn:active {
  background: #900 !important
}

.checkContainer .checkBtn:focus,
.checkContainer .closeFeedbackBtn:focus {
  box-shadow: 0 0 0 4px rgba(204, 0, 0, 0.3)
}

.feedbackContainer .toggleFeedbackBtn .icon::before {
  background: url('../assets/icons/icon-feedback.svg')
}

.no-tray .checkContainer {
  display: none
}

.speech-bubble-left,
.speech-bubble-right {
  padding: 25px !important;
  box-sizing: content-box;
  overflow: visible !important
}

.speech-bubble-left:before,
.speech-bubble-right:before {
  content: '';
  position: absolute;
  top: 25px;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: center;
  transform-origin: center;
  background: inherit;
  border-left: inherit;
  border-top: inherit
}

.speech-bubble-left:after,
.speech-bubble-right:after {
  content: '';
  position: absolute;
  top: 0;
  width: 25px;
  height: 100%;
  background: inherit
}

@media (max-width:900px) {

  .speech-bubble-left:before,
  .speech-bubble-right:before,
  .speech-bubble-left:after,
  .speech-bubble-right:after {
    display: none
  }
}

.speech-bubble-left:before {
  left: 0;
  -webkit-transform: translateX(-50%) rotate(-45deg) skew(10deg, 10deg);
  transform: translateX(-50%) rotate(-45deg) skew(10deg, 10deg)
}

.speech-bubble-left:after {
  left: 0
}

.speech-bubble-right:before {
  right: 0;
  -webkit-transform: translateX(50%) rotate(135deg) skew(10deg, 10deg);
  transform: translateX(50%) rotate(135deg) skew(10deg, 10deg)
}

.speech-bubble-right:after {
  right: 0
}

/* END Smart Sparrow CSS */

/* BEGIN Custom CSS */

/* Add animation speeds excluded from animate.css */
.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}


/* end add animation speeds */


.content {
  overflow: hidden;
}

.speech-bubble-left,
.speech-bubble-right,
.speech-bubble-bottom {
  border: 2px solid #333 !important;
  background: #FFF !important;
}

.speech-bubble-left:before,
.speech-bubble-right:before {
  content: '';
  position: absolute;
  top: 25px;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: center;
  transform-origin: center;
  background: inherit;
  border-left: inherit;
  border-top: inherit
}

.speech-bubble-bottom:before {
  content: '';
  position: absolute;
  left: 44%;
/*  top: 93%;*/
  top: calc(100% - 14px);
  transform: translateY(0%) rotate(-135deg) skew(10deg, 10deg);
  width: 30px;
  height: 30px;
  -webkit-transform-origin: center;
  transform-origin: center;
  background: inherit;
  border-left: inherit;
  border-top: inherit
}

.speech-bubble-left:after,
.speech-bubble-right:after,
.speech-bubble-bottom:after {
  content: '';
  position: absolute;
  top: 0;
  width: 25px;
  height: 100%;
  background: inherit
}



/* Wide Feedback */
@media (max-width:700px) {
  .feedbackContainer .toggleFeedbackBtn {
    left: 227px !important;
    min-width: 139px;
  }
  
/*
  #stage-content-wrapper > div:not(.no-restyle) {
    
  }
*/
}


@media (max-width:900px) {
.feedbackContainer .toggleFeedbackBtn {
  left: 227px !important;
  min-width: 139px;
}


/* Checks that the .no-restyle class has not been applied to the stage element to provide stage opacity and background color choices 
  that were overridden in the original theme */
  
/*
.stageContainer .content:not(.no-restyle) {
  box-shadow: none;
  transform-origin: center top 0px;
  position: relative !important;
  margin: 141px auto 80px;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(217, 217, 222) !important;
  border-image: initial !important;
  background: rgb(255, 255, 255) !important;
  border-radius: 4px !important;
}  
  
*/
  
body:not(.no-restyle) #stage-content-wrapper > div {
  box-shadow: none;
  transform-origin: center top 0px;
  position: relative !important;
  margin: 141px auto 80px;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(217, 217, 222) !important;
  border-image: initial !important;
  background: rgb(255, 255, 255) !important;
  border-radius: 4px !important;
}

.feedbackContainer {
  width: 100% !important;
}

.feedbackContainer .content {
  width: 100% !important;
/*
  width: 70% !important;
  margin: 0 auto;
*/
}

.feedbackContainer .content:after {
/*  left: 85.5%;*/
/*  left: 87.57%;*/
  left: 87%;
}

.feedbackContainer .toggleFeedbackBtn {
/*  left: 318px !important;*/
/*
  left: 517px !important;
  min-width: 138px;
*/
  left: 547px !important;
  min-width: 164px;
}



.feedbackContainer .toggleFeedbackBtn .icon {
  float: left;
  margin-right: 9px;
}

.feedbackContainer .toggleFeedbackBtn .icon::before {
  background: url(https://style.smartsparrow.com/default-viewer-themes/1.9.1/assets/icon-feedback-dark.svg) !important;
}

.feedbackContainer #stage-feedback {
  left: 14px;
  right: 17px;
}

/*
#stage-feedback > div.content div {
  display: flex !important;
}
*/

/* prevent image from compressing */
/*
#stage-feedback > div.content div img {
  width: 100% !important;
  align-self: center;
}
*/


#stage-feedback > div.content div img {
  float: left;
  margin-right: 25px;
}

.feedbackContainer .toggleFeedbackBtn::after {
    content: "Feedback";
    font-size: 14px;
    float: left;
    display: flex;
    align-items: center;
    align-self: center;
    height: 59%;
}

/*
.content div img {
  float: left;
  margin-right: 25px;
}*/

/*
.content div {
  display: flex !important;
}
*/

.feedback-correct #stage-feedback {
/*  border: 4px solid forestgreen;*/
  border: 4px solid rgba(39, 159, 39, .8) !important;
}

  
.bottomContainer.fixed.feedback-correct #stage-feedback {
  background: green;
}
  
.bottomContainer.fixed.feedback-correct #stage-feedback .content div div {
  color: steelblue;
}