/* Tab Interface */

.tab-button {
  padding: 5%;
  background: steelblue;
/*  color: #FFF;*/
}

.tab-button .button.selected:before, .button.waiting:before{
  display: none !important;
}

.tab-button-1 {
  background: teal;
  border-radius: 20px;
}

.tab-button-1::after {
  content: 'Resource 1';
  font-size: 30px;
  color: orange;
}

.tab-button-1::before {
  content: 'Resource 1';
  font-size: 30px;
  color: purple;
}

.tab-button-2::after {
  content: 'Resource 2';
}

.tab-button-3::after {
  content: 'Resource 3';
}

.tab-button-4::after {
  content: 'Resource 4';
}

.tab-popup {
  box-shadow: none;
  border: none !important;
  border: 5px solid #FFF !important;
  border-radius: 0 !important;
}

.tab-popup div {
  border-radius: 0 !important;
}