/* Tab Interface */

.tab-button {
  padding: 5%;
  background: steelblue;
/*  color: #FFF;*/
}

.tab-button-1 {
  background: teal;
  border-radius: 20px;
}

.tab-popup {
  box-shadow: none;
  border: none !important;
  border: 5px solid #FFF !important;
  border-radius: 0 !important;
}

.tab-popup div {
  border-radius: 0 !important;
}

.button.selected:before, 
.button.waiting:before{
  background: none !important;
}

.button.waiting {
  color: #FFF;
  opacity: 1;
}