// Add red close button

//.popup-close .info-icon-popup:not(.no-restyle) .close span {
//    background:  url("https://foodsafety.ncsu.edu/Dairy_Environmental_Monitoring/assets/Course/Icons/icon-close-2px-WolfpackRed100-border.svg") !important;
//}

.ncpopup .info-icon-popup:not(.no-restyle) .close span {
    background-repeat: no-repeat;
    background: url("https://foodsafety.ncsu.edu/Dairy_Environmental_Monitoring/assets/Course/Icons/icon-close-2px-WolfpackRed100-border.svg") !important;
    width: 18px !important;
    height: 18px;
    font-size: 0 !important;
    margin: auto !important;
    border-bottom: 0 !important;
}