// Add red close button to popup

.info-popup .close span {
    background: url(https://foodsafety.ncsu.edu/Dairy_Environmental_Monitoring/assets/Course/Icons/2px-WolfpackRed60-border.svg) !important;
    width: 18px !important;
    height: 18px;
    font-size: 0 !important;
    margin: auto !important;
    border-bottom: 0 !important;
    background-repeat: no-repeat;

    &:hover {
        background: url("https://foodsafety.ncsu.edu/Dairy_Environmental_Monitoring/assets/Course/Icons/icon-close-2px-WolfpackRed100-border.svg") !important;
    }
}

// Enlarge Button Icon

.enlarge-icon-button {
    position:absolute;
    top: 10px;
    left: 5px;
    width: 32px;
    height: 32px;
    background: url("https://foodsafety.ncsu.edu/Dairy_Environmental_Monitoring/assets/Course/Icons/icon-close-2px-WolfpackRed100-border.svg") !important;
}



